.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

img {
    width: 70px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}